{% extends 'base.html.twig' %}

{% block title %}Event Listing{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">CRUD Events Listing</h1>
            <p class="lead">Discover amazing events</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck">
                    <div class="card mb-4">
                        <img src="images/image-1.png" class="card-img-top" alt="Product 1">
                        <div class="card-body">
                            <h5 class="card-title">Event 1</h5>
                            <p class="card-text">When: May 24, 2023</p>
                            <p class="card-text">Description: Metallica is coming to town with their latest crappy album</p>
                            <p class="card-text">Tickets at: <a href="#">webpage <a></p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <img src="images/image-2.png" class="card-img-top" alt="Product 2">
                        <div class="card-body">
                            <h5 class="card-title">Event 2</h5>
                            <p class="card-text">When: May 24, 2023</p>
                            <p class="card-text">Description: Metallica is coming to town with their latest crappy album</p>
                            <p class="card-text">Tickets at: <a href="#">webpage <a></p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <img src="images/image-3.png" class="card-img-top" alt="Product 3">
                        <div class="card-body">
                            <h5 class="card-title">Event 3</h5>
                            <p class="card-text">When: May 24, 2023</p>
                            <p class="card-text">Description: Metallica is coming to town with their latest crappy album</p>
                            <p class="card-text">Tickets at: <a href="#">webpage <a></p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

